{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow-x:hidden;
}

body{
    margin:0px;
}

/header/

header{
    margin: 0px;
    height: 75vh;
    width: 100vw;
    opacity:0.9;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.heading{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    margin-top: 60px;    
}

.heading h1{
    color:rgb(194 6 32 / 80%);
    font-size: 6rem;
    font-family:monospace;
    font-weight: 600;
    text-shadow: 4px 4px 2px rgba(19 11 11 / 50%);
}

.lineone{
    margin-bottom: 50px;
    background-color:rgb(12 177 33 / 82%);
    height: 5px;
    width: 450px;
    border-radius: 0.7rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
}

/* navbar */

.navbar{
    display:flex;
}

.navbar i{
    color: honeydew;
}

/* Horizontal lists */

.horizontal-lists{
    list-style: none;
    padding-left: 5vw;
    padding-right: 0px;
    text-align: center;
}

.horizontal-lists li{
    display:inline-flex;
    padding: 16px 8px 8px 0px;
}

.horizontal-lists li a{
    margin-left: 50px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color:black;
    border: 0px;
    border-radius: 0.8rem;
    transition: color 1s, box-shadow 1s;
}

.horizontal-lists li a:hover{
    color:rgb(90, 90, 90);
    box-shadow: 0px 0px 4px 2px rgba(199, 195, 144, 0.5);
}
 
/main/

.intropara{
    height: auto;
    width: 100vw;
    text-align: center;
}

.intropara p{
    margin-top: 55px;
    margin-bottom: 55px;
    color: #1d0fed;
    font-size: 30px;
    line-height: 50px;
    word-spacing: 6px;
}

section{
    width: 100vw;
    height: auto;
}

section:nth-child(2n){
    background-color: #d2dcff;
}

section:nth-child(2n+1){
    background-color: #f9c7bf;
}

.place-name{
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 5px;
    color: darkviolet;
    font-size: 4rem;
    font-family: cursive;
    font-weight: 300;
    text-shadow: 5px 5px 2px rgba(68, 68, 67, 0.5);
}

.place-description{
    text-align: center;
    margin-top: 12px;
    margin-left: 10px;
    margin-right: 20px;
    margin-bottom: 15px;
    color: #7b1083;
    font-size: 20px;
    font-family: monospace;
    font-weight: light;
    text-shadow: 1px 1px 3px darkslategray;
}

.line{
    text-align: center;
    margin-top: 0;
    margin-left: 47%;
    width: 100px;
    background-color: orange;
    height: 5px;
    border-radius: 00.8rem;
}

.place-head{
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 5px;
    color: orange;
    font-size: 4rem;
    font-family: cursive;
    font-weight: 300;
    text-shadow: 5px 5px 2px rgba(68, 68, 67, 0.5);
}

.description{
    text-align: center;
    margin-top: 12px;
    margin-left: 10px;
    margin-right: 20px;
    margin-bottom: 15px;
    color: orangered;
    font-size: 20px;
    font-family: monospace;
    font-weight: light;
    text-shadow: 1px 1px 3px darkslategray;
}

.linetwo{
    text-align: center;
    margin-top: 0;
    margin-bottom: 2px;
    margin-left: 47%;
    width: 100px;
    background-color: darkviolet;
    height: 5px;
    border-radius: 0.8rem;
}

.images{
    height: auto;
    width: 55vw;
}

.images img{
    height: 55%;
    width: 68%;
    margin: 60px;
    box-sizing: content-box;
    box-shadow: 10px 10px 4px 4px rgba(68, 68, 67, 0.5);
}

/* Footer */

footer{
    height: 350px;
    width: 100vw;
    background-color: rgb(156, 144, 231);
}

#page-end{
    padding:20px 80px;
    line-height: 26px;
    margin: auto;
    text-align: center;
}

.foot table{
    text-align: center;
    margin: 20px;
    margin-left: 30%;
    margin-bottom: 2rem;
}

.foot table th{
    padding: 10px;
    font-size: 16px;
    color: ghostwhite;
}

.foot table td{
    overflow-y:hidden ;
    padding: 8px;
    font-size: 14px;
    color: seashell;
}